/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* default css */
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 920px;
    margin: auto;
}
ul li{
    list-style: none;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    transition: .5s;
}
h2{
    line-height: 40px;
    margin: 10px 0;
    font-weight: 700;
    font-size: 28px;
}
 p{
    line-height: 26px;
}
/* header css */
header{
    background-color: #2D25A0;
}
.menu-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    align-items: center;
}
.menu ul li:hover a{
    color: #2D25A0;
    background-color: #FFFFFF;
    border-radius: 5px;
}

/* login css */
.login {
    background-color: #E02C6D;
    padding: 4px 7px;
}
.login ul i{
    color: #FFFFFF;
    align-items: center;
}
.login ul a{
    margin: 0;
}
/* slider css */
.slider-area{
    display: flex;
}
.left-slider{
    width: 307px;
    color: #FFFFFF;
    margin-bottom: 60px;
}
.left-slider h1 {
    margin-bottom: 27px;
    font-size: 50px;
}
.right-slider img {
    width: 383px;
    margin-bottom: 60px;
    transition-duration: 2s;
}
header:hover img{
    transform: rotate(45deg);
}
.watch-area {
    width: 129px;
}
#watch {
    margin: 0;
    padding: 8px;
}
/* player album */
.player-list{
    margin-top: 70px;
    margin-bottom: 100px;
}

.player-album{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 30px;
}
.player {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    padding: 15px 15px 33px;
    border-radius: 5px;
    
}
.player img{
    width: 100%;
    height: auto;
}

/* Highlights area  */
.Highlightd{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
}
.headline{
    width: 300px;
}
.headline h2{
    font-size: 36px;
}
.headline p {
    margin-bottom: 24px;
}
.moments{
    width: 300px;
}
.moments iframe{
    width: 500px;
}

/* footer-area */
.footer-area {
    width: 450px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 65px;
}
.footer-area img{
    width: 415px;
}
.social-icon i {
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: #969BAB;
    margin: 20px 0;
}
.footer-area p {
    text-align: center;
}


